html{
    margin: 0;
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    margin: 0;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 22px;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    border-bottom: 1.3px ridge rgb(134, 168, 199);
    height: 7.5rem;
    background-color: white;
}

#btn-filters:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.4 in-ease;
}
#btn-offers:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.4 in-ease;
}

#logo {
    width: 12rem;
    height: 7rem;
}

#barra-nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
    list-style: none;
    margin-right: 15%;
}
.no-decoration {
    text-decoration: none;
    align-items: center;
    cursor: pointer;
}
.search{
    display: flex;
    height: 2rem;
}


main {
    flex: 1;
    display: grid;
    grid-template-columns: 10% 90%;
    padding: 1rem;
}

.producto {
    border: 1px solid #ccc;
    border-radius: 0.7rem;
    font-size: 1rem;
    padding: 10px;
    margin: 10px;
    width: 230px;
    height: 360px;
    text-align: center;
    background-color: #f9f9f9;
        transition: transform 0.4s ease;
    }
    .producto:hover {
        cursor: pointer;
        transform: scale(1.1);
}

.sidebar {
    display: block;
    margin: 0;
    display: none;
    background-color: #f1f1f1;
    padding: 1rem;
    border-right: 1.3px ridge rgb(134, 168, 199);
    width: 100%;
    height: 100%;
}
#sidebar-list {
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    list-style: none;
}
#sidebar-list li {
    cursor: pointer;
}
.sidebar.visible {
    display: block;
}
#filtro-vendedor{
    display: flex;
    flex-direction: column;
}

.main-content {
    display: grid;
    background-color: #ffffff; 
    grid-template-columns: repeat(6, 1fr);
    padding: 1rem;
    margin: 3rem;
    grid-gap: 1rem;
    align-items: center;
    width: 100%;
}
.main-content.reduced{
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
}



footer {
    position: relative;
    width: 100%; 
    height: auto; 
    justify-content: center;
    background-color: white; 
    color: rgb(104, 86, 86);
    text-align: center;
    padding: 10px;
    border-top: 1.3px ridge rgb(134, 168, 199);
}

#rrss-list {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    align-items: center;
    font-size: small;
}

.hidden {
  display: none;
}

#navbar-mobile {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    padding: 1rem;
    width: 100%;
    left: 0;
    z-index: 1;
}
#navbar-mobile ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1.3px ridge rgb(134, 168, 199);
}

@media (max-width: 768px) {
    header {
        height: 5rem;
    }
    #logo {
        width: 8rem;
        height: 5.5rem;
    }
    .sidebar {
      display: none;
    }
    #navbar-mobile {
      display: none;
    }
    #navbar-mobile.visible {
      display: block;
      position: relative; 
    }
    .main-content.reduced{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5rem;
    }
}